* {
    border-radius: 8px;
    box-sizing: border-box;
}
:root {
    --1000:black;
    --900: #111827;
    --800: #0b1018;
    --700: #111a28;
    --600: #6c757d;
    --500: #6b7280;
    --400: #9ca3af;
    --300: #d1d5db;
    --200: #f3f4f6;
    --100: #ffffff;
    --50: #2ca9a7;
}

body {
    background-color: var(--1000);
}

header {
    margin: 0px 24px;
    margin-top: 0px;
    padding: 32px 0px 32px 12px;
    border-radius: 0 0 8px 8px;
    display: flex;
}

header div {
    flex-grow: 2;
    height: 80px;
    line-height: 80px;
}

main {
    padding-bottom: 76px;
}

h1 {
   font-size: 3rem;
   color: var(--100);
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--100);
}

h3 {
    font-size: 1.5rem;
    color: var(--100);
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-family: monospace;
}

.intro {
    margin-bottom: 0px;
    height: 100vh;
    position: relative;
    padding: 0 50px;
    flex-flow: row wrap;
    text-align: center;
}

.intro a {
    font-family: monospace;
    text-decoration: none;
    font-size: 3rem;
    color: var(--50);
    padding: 20px;
    margin: 40px 0px;
}

.intro a:hover {
    text-decoration: underline;
}

.intro .avatar {
    position: fixed;
    bottom: 0;
    width: 30%;
}

#projects {
    background-color: var(--900);
    height: 40px;
    margin: 0px 24px 2px 24px;
    border-radius: 8px 8px 0px 0px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    padding: 12px;
    color:var(--50);
  }

#container {
    margin: 0 auto;
    max-width: 80%;
    display: block;
    position: relative;
    min-height: 100vh;
}

#contact {
    padding: 15%;
    background-color: var(--1000);
    color: var(--100);
    margin: 200px auto;
    width: 80%
}

#contact a {
    font-family: monospace;
    text-decoration: none;
    color: var(--50);
    margin: 40px 0px;
}

#contact a:hover {
    text-decoration:underline;
}

.cards {
    margin: 2px 24px 2px 24px;
    display: inline-flex;
    background-color: var(--800);
    padding: 12px 12px;
    flex-flow: row wrap;
    border-radius: 0px;
}

.card {
    background-color: var(--900);
    color: var(--900);
    border: solid 1px var(--900);
    padding: 20px 20px 20px 20px;
    margin: 12px;
    width: 30%
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
}

.card:first-child {
    flex: 2 2 auto;
}

.card:hover {
    background-color: var(--700);
    border: solid 1px var(--50);
    -webkit-box-shadow:0px 0px 16px 0px rgba(2,202,155,0.55);
    -moz-box-shadow: 0px 0px 16px 0px rgba(2,202,155,0.55);
    box-shadow: 0px 0px 16px 0px rgba(2,202,155,0.55);
}

.card:hover h3 {
    color: var(--50);
}

.card:active {
    background-color: var(--900);
    color: var(--400);
}

.card img {
    width: 100%;
}

.jrdnwlkr {
    font-size: 80px;
    text-align: center;
    margin-bottom: 200px;
}

 footer {
    background-color: var(--800);
    color: var(--900);
    margin: 0px;
    padding: 24px 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

@media screen and (min-width: 0px) {
    #container {
        max-width: 100%;   
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .hero pre {
        height: 32%;
        padding-bottom: 32px;
    }

    .cards {
        padding: 0px;
    }

    .card {
        flex-grow: 1;
    }
    .hero {
        flex-flow: row wrap;
    }
    .hero div {
        flex: 1 1 100%;
    }

    .hero a {
        width: 100%;
    }

    footer h2 {
        font-size: 1rem;
        text-shadow: 1rem;
    }
  }

@media screen and (min-width: 367px) {
    .intro a {
        font-size: 2rem;
}

    #contact {
        left-padding: 50%;
    }


@media screen and (min-width: 767px) {
    #container {
        max-width: 100%;
        margin: 0px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 1.2rem;
        line-height: 30px;
        margin-bottom: 0px;
    }

    .intro a {
        font-size: 2rem;
    }

    .cards {
        padding: 0px;
    }

    .card {
        flex: 1;
    }

    .hero div {
        flex: 1 2 100%;
        flex-flow: row wrap;
    }

    footer h2 {
        font-size: 1rem;
        color: var(--50);
        font-weight: 300;
    }
  }

  @media screen and (min-width: 992px) {
    #container {
        width: 100%;
        flex-grow: 1;
    }

    .intro a {
        font-size: 3rem;
    }

    .card {
        flex: 1 1 30%;
    }

    p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1440px) {
    #container {
        width: 100%;
    }

    .card {
        flex-grow: 1;
    }

    p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 20px;
    }
  }